# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# build artifacts
upcloud-app-platform

# local runtime files
.upcloud-app-platform.state.json
upcloud-app-platform.yaml

# local secrets
.env.prod
